.sidebar-routen {
    color: #fff;
  display: none;
}

.sidebar-suche{
    color: #fff;
    display: none;
}

/*.routen-jumb{
  margin-left: 60px;
}*/

.map-jumb{
  margin-top: 5px;
}

#routenAusgabe{
  color: #000;
  margin-left: 19px;
}

#routeninfo > h2 , h4{
color: #f00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 25px;

}

#routeninfo > h4 , h2{
color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.nav-cont{
  
  max-width: 400px;
  min-width: 250px;
  position: relative;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@media (min-width: 768px) {
  .sidebar-routen {
    margin-left: 10px;
    z-index: 1000;
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #000;    
  }

  .sidebar-suche {
    margin-top: 10px;
    height: 30%;
    margin-left: 10px;
    z-index: 1000;
    display: block;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #000;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -20px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  padding-left: 10px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-sidebar > .sidebar-brand a {
    color: #000;
    font-size: 20pt;
    font-family: "Matura MT Script Capitals";

}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.map-centered {
    margin: auto;
}
